REACT_APP_S3_BUCKET="YOURS3BUCKET"
REACT_APP_SECRET_KEY="YOURSECRETKEYGOESHERE"
REACT_APP_COGNITO_USER_POOL_ID="asdasdas"
REACT_APP_COGNITO_REGION="us-east-1"
REACT_APP_COGNITO_APP_CLIENT_ID="d2389hnajsk92bdjsaf"